.Game {
/*   background: #e6f3fc;
  border: 1px solid black;
  padding: 10px;
  grid-column: 3;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row: 1; */
  top: 0;   
  left: 0;   
  background: #c7e8ff;
  position: fixed; 
  width: 50%; 
  height: 50%;
}

.action-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* .gameTitle {
  position: relative;
  top: 0;
  float: left;
  margin: 0;
  font-size: 25px;
  color: #fff;
  text-shadow:
    0 0 5px #0ff,
    0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
  } */